{% extends 'problem/base.html' %}

{% block content %}
  <div class="navbar">
    <span class="user-name">{{ request.user.username }}</span>
    <a class="dashboard-button" href="#">Dashboard</a>
    <a class="signout-button" href="signout">Sign Out</a>
  </div>

  <div class="problem-list">
    <table>
      <thead>
        <tr>
          <th>S. No.</th>
          <th>Problem Name</th>
          <th>Difficulty</th>
          <th>Author</th>
        </tr>
      </thead>
      <tbody>
        {% for problem in problems %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ problem.title }}</td>
            <td>{{ problem.difficulty }}</td>
            <td>{{ problem.author.username }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}

{% block css %}
<style>
  /* CSS styles for the problem list page */
  
  .navbar {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
  }

  .user-name {
    margin-right: auto;
  }

  .dashboard-button,
  .signout-button {
    margin-left: 10px;
    text-decoration: none;
    color: white;
  }

  .problem-list {
    background-image: linear-gradient(to bottom right, #3c65db, #29c7ac);
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    color: white;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th,
  td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid white;
  }

  th {
    background-color: rgba(255, 255, 255, 0.2);
  }

  tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.1);
  }
</style>
{% endblock %}
